/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dataTables_wrapper .dataTables_filter input {
    @apply border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-brand-500 focus:outline-none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    @apply bg-white border border-gray-200 rounded-md px-2 py-1 mx-1 text-sm hover:bg-brand-500 hover:text-white;
}
